workflow.json
{
  "name": "aithon workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doc-sync",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "861ce47b-6815-4822-a19b-7f03e7b215bd",
      "name": "Webhook",
      "webhookId": "e1e09663-a6c7-446a-ba48-13db5fce73b5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pIVAq4i4tJiZJLv4",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0];\n\nconst jiraId     = item.json.body?.jira_id     || item.json.jira_id     || 'NO-ID';\nconst author     = item.json.body?.author       || item.json.author       || 'Unknown';\nconst reviewer   = item.json.body?.reviewer     || item.json.reviewer     || 'Morgan Housel';\nconst prNumber   = item.json.body?.pr_number    || item.json.pr_number    || '';\nconst prTitle    = item.json.body?.pr_title     || item.json.pr_title     || '';\nconst prUrl      = item.json.body?.pr_url       || item.json.pr_url       || '#';\nconst dbFiles    = item.json.body?.db_files     || item.json.db_files     || 'No DB scripts changed';\nconst pageId     = item.json.body?.page_id      || item.json.page_id      || '688129';\n\nconst newRow = `<tr>\n  <td><p><strong>${jiraId}</strong></p></td>\n  <td><p>${author}</p></td>\n  <td><p><a href=\"${prUrl}\">Pull request ${prNumber}: ${prTitle.substring(0, 50)}</a></p></td>\n  <td><p>${dbFiles}</p></td>\n  <td><p>${reviewer}</p></td>\n</tr>`;\n\nitem.json.new_row  = newRow;\nitem.json.page_id  = pageId;\nitem.json.jira_id  = jiraId;\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "135f397a-669c-464e-932d-96de4b50577b",
      "name": "Build Row"
    },
    {
      "parameters": {
        "url": "https://pikachu28.atlassian.net/wiki/api/v2/pages/688129",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "body-format",
              "value": "storage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        0
      ],
      "id": "6ea17498-42ed-4396-abe5-224a7b210923",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "lcUmolTKrievPQhm",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0];\n\nconst currentVersion = item.json.version?.number || 1;\nconst currentBody    = item.json.body?.storage?.value || '';\nconst pageId         = $('Build Row').item.json.page_id || '688129';\nconst newRow         = $('Build Row').item.json.new_row;\n\nlet updatedBody;\n\nif (currentBody.includes('<table>') || currentBody.includes('<table ')) {\n  if (currentBody.includes('</tbody>')) {\n    updatedBody = currentBody.replace('</tbody>', `${newRow}\\n</tbody>`);\n  } else {\n    updatedBody = currentBody.replace('</table>', `${newRow}\\n</table>`);\n  }\n} else {\n  updatedBody = `\n<h2>Database Changes Log</h2>\n<table><tbody>\n  <tr>\n    <th><p><strong>User Story</strong></p></th>\n    <th><p><strong>User Name</strong></p></th>\n    <th><p><strong>PR</strong></p></th>\n    <th><p><strong>Pkg Changes (DB Scripts)</strong></p></th>\n    <th><p><strong>Reviewer</strong></p></th>\n  </tr>\n  ${newRow}\n</tbody></table>\n<p><em>Auto-generated by Agentic Documentation System</em></p>`;\n}\n\nitem.json.put_body = {\n  id: pageId,\n  status: 'current',\n  title: 'PI DB Changes - Automated Log',\n  body: { representation: 'storage', value: updatedBody },\n  version: { number: currentVersion + 1, message: `PR merged: ${$('Build Row').item.json.jira_id}` }\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "746a0c7e-5104-4151-b44c-0576c99c9010",
      "name": "Append Row"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://pikachu28.atlassian.net/wiki/api/v2/pages/688129",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.put_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        0
      ],
      "id": "63225aab-a223-4082-939f-f62b9b84b10c",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "lcUmolTKrievPQhm",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_prompt }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "880c7d9e-5686-41f4-8abf-0ad918fb1f86",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "b58c79ad-8071-4b98-a3ec-04e5f78696f2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0C14rq7lmtFGzaeQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0];\nitem.json.final_body = JSON.stringify(item.json.put_body);\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "2bbb6915-a548-42a2-9fd1-133d93cc0380",
      "name": "Build PUT"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Row": {
      "main": [
        [
          {
            "node": "Build PUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build PUT": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a07c62fa-8977-4aa6-adc5-92e48d4dddbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db83c44c4667e1c15b91f9167fb35f180784de0714336ab7276e9f641e754ff"
  },
  "id": "EadAFdsenwdgLvWa",
  "tags": []
}
